html, body, #map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.labels {
    color: white;
    text-shadow: 0 0 3px black, 0 0 3px black;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.settings {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.85);
    box-shadow: rgba(0,0,0,0.5) 0 3px 5px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 3px 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0 3px 5px;
    color: #fff;
    text-align: center;
}

#settings_canvas {
    display:table;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align:top;

}

#settings_canvas .title {
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 30px;
}

#settings_canvas .subtitle {
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 15px;
}

#settings_canvas .content {
    display:table-row;
    margin-left: auto ;
    margin-right: auto ;
    vertical-align:middle;
}


#settings_canvas .row {

    overflow: hidden;
    display:table-cell;
    vertical-align:middle;

}

#settings_canvas .row label {
    width: 100px;
    font-weight: bold;
    vertical-align:middle;
}


#settings_canvas .row select,
#settings_canvas .row input {
    height: 300px;
    width: 100px;
    vertical-align:middle;
}
#settings_canvas .row button {
    height: 50px;
    width: 200px;
    vertical-align:middle;
}
